@page
@{
}

<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>


    <table>
        <tr>
            <th>Navn</th>
            <th>E-mail</th>
            <th>Telefon</th>
        </tr>
        <tr>
            <td>Karen Køkkendame</td>
            <td>karenskoekken@hotmail.com</td>
            <td>40403030</td>
        </tr>

    </table>
</body>
</html>

